{% extends 'base.html.twig' %}

{% block breadcrumb%}
    <li class="breadcrumb-item active" aria-current="page">Nuevo producto</li>
{%endblock%}

{% block title %}Nuevo Producto{% endblock %}

{% block body %}
    <div class="card">
    <h3 class="card-header bg-optime text-white">Crear nuevo producto</h3>
        <div class="card-body">
            {{ include('product/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
